<app-menucomponent></app-menucomponent>
    <div class="px-3 w-full container flex flex-col">
        <h1 class="text-3xl font-bold mb-4">Bienvenido a Wasiseguro</h1>
        <p class="text-lg mb-10">Esta es la página de inicio de Wasiseguro, una aplicación de gestión de seguros. </p>

        <h3 class="text-2xl font-bold mb-4">Integrantes del grupo:</h3>
        <ul class="list-disc list-inside text-lg">
            <li>Diego Bryan Carlos Huaman Valverde - U202126158</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
<router-outlet>

</router-outlet>