.avatar-badge {
  width: 32px;
  height: 32px;
  border-radius: 9999px;

  background-color: var(--color-secondary-light);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  font-weight: 600;
  color: var(--color-secondary);
}